<h1>Musicians: </h1>
<table>
  <% @musicians.each do |musician| %>
    <tr class="musician_<%=musician.id%>">
      <td><%= musician.name %></td>
      <td>      
        <form action="<%=musician_path(musician)%>" method="post">
          <input type="hidden" value="delete" name="_method">
          <button class="delete btn-link">DELETE</button>
        </form>
      </td>
    </tr>  
  <% end %>
</table> 

<a class="btn btn-primary" href="musicians/new">Create a musician</a>
