<h1>Bands: </h1>
<ul>
 
  <% @bands.each do |band| %>
  
  <li><a href="<%= edit_band_path(band) %>"><%= band.name %></a></li>
  <% end %>

</ul>
  <a class="btn btn-primary" href="bands/new">Create a band</a>
