<h1>Band Memberships</h1>
<% @memberships.each do |membership| %>
<ul>
    <li><%= membership.band.name %> </li>
    <ul><li><%= membership.musician.name %> </li></ul>
</ul>
<hr>
<% end %>
  <a class="btn btn-primary" href="band_memberships/new">Suggest a new bandmember arrangement</a>
