<form action="/band_memberships" method="post">
  <select name="musician_id" id="musician_id">
    <% @musicians.each do |musician| %>
    <option value="<%= musician.id %>"><%= musician.name %></option>
    <% end %>
  </select>
  <select name="band_id" id="band_id">
    <% @bands.each do |band| %>
    <option value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select>
  <button id="submit">SUBMIT</button>
</form>

