<!DOCTYPE html>
<html>
<head>
  <title>TunerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <%= yield %>
  <hr>
  <div class="btn-group">
    <a class="btn btn-default" href="/bands">Bands</a>
    <a class="btn btn-default" href="/musicians">Musicians</a>
    <a class="btn btn-default" href="/band_memberships">Band Memberships</a>
  </div>
  <hr>
    <a class="btn btn-default" href="/">Home</a>  
  </div>
</body>
</html>
